@import "_normalize.css";
@import "_fonts.css"; 
@import "_variables.css";
@import "_global.css"; 
@import "_header.css";
@import "_main.css"; 
@import "_footer.css";
@import "_media.css"; 







body {
  font-family: "League Spartan", sans-serif;
}
.item-a {
  grid-area: header;
}
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: footer;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat (4, 25%);

  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
  width: 100%;
  height: 97vh;
}

/* @media screen and(max-width: 1023px) and (min-width: 760px) */
/* .main-container { 
grid-template-rows: repeat(4, 1fr);
grid-template-areas: "content content content img img" "content content content img img" "content content content img img" "nav nav nav nav nav";
margin: 5% 5% 0 5%  */

.item-a {
  display: grid;
  grid-template-areas: "logo menu";
  align-items: center;
  width: 70%;
  height: 35%;
  margin-top: 2em;
  margin-left: 2em;
  font-size: 1em;
  color: rgba(69, 69, 69, 1);
}
.navigation-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
.item-b {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2em;
  color: rgba(27, 24, 249, 1);
  width: 100vw;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  margin: 1em;
}
#lead {
  font-size: 1em;
  color: rgba(69, 69, 69, 1);
}
.item-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
@media screen and (min-width: 1440px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  .grid-container {
    display: grid;
    grid-template-columns: repeat (4, 25%);
    grid-template-areas:
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
    width: 100%;
    height: 97vh;
  }
  .item-b {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2em;
    color: rgba(27, 24, 249, 1);
    width: 100vw;
  }
}
@media screen and (max-width: 1245px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat (3, 33%);
    grid-template-areas:
      "header header header"
      "main . sidebar"
      "footer footer footer";
    width: 100%;
    height: 97vh;
  }
  .item-b {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
    color: rgba(27, 24, 249, 1);
    width: 100vw;
    margin-left: 2em;
  }
}
@media screen and (max-width: 1190px) {
  .item-b {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
    color: rgba(27, 24, 249, 1);
    margin-left: 7em;
    width: 100vw;
  }
}
@media screen and (max-width: 425px) {
  /* стили для широкого смартфона */
}
@media screen and (max-width: 375px) {
  /* стили для среднего смартфона */
}
@media screen and (max-width: 320px) {
  /* стили для малого смартфона */
}
